body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 51, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    border-top: 2px solid black;
}

footer h5 {
    margin-top: 1%;
    color: white;
}

#pokeCards {
    border:  2px solid black;
    border-radius: 2%;
}

.row {
    /* perspective: 600px; */
}

.card {
    border: 2px solid black;
    border-radius: 2%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    background-color: slategrey;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
    backface-visibility: hidden;
    margin-top: 5%;
}

.card-front {
  
}

.card-back {
    transform: rotateY(180deg);
    display: none;
}

.card-details ul{
    list-style: none;
}


.rotate {
    transform: rotateY(180deg);
}

.nextBtn {
    background-color: black;
    padding: 10px 30px;
}

.nextBtn:hover {
    background-color: #198754;
}

.viewBtn {
    background-color: black;
    border: 2px solid #198754;
}

.viewBtn:hover {
    background-color: #198754;
}

